%form{:action => "/memos/#{@result["id"]}", :method => "post"}
  %input{:name => "_method", :type => "hidden", :value => "patch"}
    %input{:name => "title", :required => "", :type => "text", :value => @result["title"]}
    %textarea{:name => "article", :required => ""}= @result["article"]
    %input{:type => "submit", :value => "更新"}
