%form{:action => "/memos", :method => "post"}
  %input{:name => "title", :placeholder => "タイトル", :type => "text", :required => ""}
  %br
  %input{:name => "article", :placeholder => "内容", :type => "text", :required => ""}
  %br
  %button{:type => "submit"} 作成
