&= @result["title"]
%br
&= @result["article"]
%br

%input{:onclick => "location.href='./#{params[:id]}/edit'", :type => "submit", :value => "編集"}/
%form{:action => "/memos/#{params[:id]}", :method => "post"}
  %input{:name => "_method", :type => "hidden", :value => "DELETE"}
  %input{:type => "submit", :value => "削除"}
