<div class="memo__title__item">
  <%= @result["title"] %>
</div>
<div class="memo__body__item">
  <%= @result["article"] %>
</div>

<form method="post" action="/memos/<%=@result["id"]%>">
    <input type="hidden" name="_method" value="DELETE"> <!-- この1行を追加！ -->
    <input type="submit" value="delete!!">
</form>
